.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 0;
}

.header__menu {
	display: flex;
	align-items: center;
	gap: 158px;
}

@media (max-width: 1200px) {
	.header__menu {
		gap: 80px;
	}
}

@media (max-width: 1200px) {
	.header__menu {
		flex-direction: column;
		justify-content: center;
		height: 100%;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 1000;
		overflow: hidden;
		background: #ffffff;
		width: 100%;
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		transition: all 0.3s ease-in;
	}

	.header__menu.active {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

.hamburger {
	display: none;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	background-color: black;
}

@media (max-width: 1200px) {
	.hamburger {
		display: block;
		z-index: 1000;
		cursor: pointer;
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}
	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}
	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
}

.header__navigation-list {
	display: flex;
	align-items: center;
	gap: 32px;
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
}

@media (max-width: 1200px) {
	.header__navigation-list {
		flex-direction: column;
	}

	.header__navigation-list::after {
		flex-direction: column;
		content: url("./images/line.svg");
	}

	.header__navigation-list::before {
		flex-direction: column;
		content: url("./images/line.svg");
	}
}

.navigation__link {
	color: #15343a;
}

.header__buttons {
	display: flex;
	gap: 32px;
}

.header__login-button {
	padding: 16px 32px;
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	color: #15343a;
	border: 2px solid #6444f4;
	border-radius: 8px;
	background: transparent;
	cursor: pointer;
	transition: 0.3s linear;
}

.header__login-button:hover {
	background: #6444f4;
	color: #fff;
}

.header__sign-up-button {
	padding: 16px 32px;
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	color: #fefdff;
	border-radius: 8px;
	background: #6444f4;
	border: 2px solid #6444f4;
	cursor: pointer;
	transition: 0.3s linear;
}

.header__sign-up-button:hover {
	background: #fff;
	color: #6444f4;
}
